@charset "UTF-8";
/* CSS Document */

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

html,body{
     height:100%;
}

* {
  box-sizing: border-box;
}

body {
 font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
 margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  color:#333333;
  font-weight:300;
}

h3{
  font-weight:400;
}

h2{
	font-size:32px;
}

.wrapper{
	 width: 100%;
     position: relative;
     min-height: 100%;
}

.container{
  max-width:1080px;
  width: 100%;
/*  padding: 0px 10px;*/
  margin: 0 auto;
}

/*loading*/
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #34699A;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_loading20 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 68px;
	height: 50px;
	-webkit-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}
.cp_loading20:before,
.cp_loading20:after,
.cp_loading20 span {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 14px;
	height: 50px;
	content: '';
	-webkit-animation: loading20 1.5s ease-in-out infinite;
	        animation: loading20 1.5s ease-in-out infinite;
	-webkit-transform-origin: 100% 100%;
	        transform-origin: 100% 100%;
}
.cp_loading20:before {
	background-color: #ffffff;
}
.cp_loading20:after {
	left: 18px;
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
	background-color: #ffffff;
}
.cp_loading20 span {
	left: 36px;
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s;
	background-color: #ffffff;
}
.cp_loading20 span:nth-child(2) {
	left: 54px;
	-webkit-animation-delay: -1.2s;
	animation-delay: -1.2s;
	background-color: #ffffff;
}
@-webkit-keyframes loading20 {
	0% {
		-webkit-transform: scaleY(0);
		        transform: scaleY(0);
		opacity: 0;
	}
	50% {
		-webkit-transform: scaleY(1);
		        transform: scaleY(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: scaleY(0);
		        transform: scaleY(0);
		opacity: 0;
	}
}
@keyframes loading20 {
	0% {
		-webkit-transform: scaleY(0);
		        transform: scaleY(0);
		opacity: 0;
	}
	50% {
		-webkit-transform: scaleY(1);
		        transform: scaleY(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: scaleY(0);
		        transform: scaleY(0);
		opacity: 0;
	}
}
/*header*/
header{
	position: fixed;
	top: 0;
  	left: 0;
  	right: 0;
	color:white;
/*	background-color:rgba(17,63,103,0.8);*/
	background-color:#34699A;
	z-index:100;
	font-weight:normal;
	font-size:16px;
}


.index-head{
	float:right;
	padding:25px 0px;
}

.index-head li{
	float:left;
	margin-left:30px;
}

header img{
	padding-top:15px;
	cursor: pointer;
}

.header_link{
	color:white;
	position: relative;
    display: inline-block;
}

.header_link::after {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #fff;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}

.header_link:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}


/*グローバルメニュー*/
.global-nav {
  position: fixed;
  right: -320px; /* これで隠れる */
  top: 0;
  width: 300px; /* スマホに収まるくらい */
  height: 100vh;
  padding-top: 40px;
  background-color: #34699A;
  transition: all .6s;
  z-index: 200;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
}
.hamburger {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px; /* クリックしやすいようにちゃんと幅を指定する */
  height: 40px; /* クリックしやすいようにちゃんと高さを指定する */
  cursor: pointer;
  z-index: 300;
  margin-top: 7px;
}
.global-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.global-nav__item {
  text-align: center;
  padding: 0 14px;
}
.global-nav__item a {
  display: block;
  padding: 8px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: white;
}
.hamburger__line {
  position: absolute;
  left: 11px;
  width: 20px;
  height: 1px;
  background-color: white;
  transition: all .6s;
}
.hamburger__line--1 {
  top: 14px;
}
.hamburger__line--2 {
  top: 20px;
}
.hamburger__line--3 {
  top: 26px;
}
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
  cursor: pointer;
}
/* 表示された時用のCSS */
.nav-open .global-nav {
  right: 0;
}
.nav-open .black-bg {
  opacity: .7;
  visibility: visible;
}
.nav-open .hamburger__line--1 {
  transform: rotate(45deg);
  top: 20px;
}
.nav-open .hamburger__line--2 {
  width: 0;
  left: 50%;
}
.nav-open .hamburger__line--3 {
  transform: rotate(-45deg);
  top: 20px;
}
/*top-view*/
.res-title{
	color:#34699A;
	display: none;
	text-align: center;
}

.res-title h1{
	font-size:28px;
}

.res-title p{
	font-size:14px;
}


.top-view{
	width:100%;
	background-color:#F4F5F7;
}

.top_imgs{
	padding:85px 0px 100px 0px;
	width:100%;
}

.top_relative{
	position: relative;
	width:100%;
}

/*トップビューの風景画像*/
.top_back_1{
	width:100%;
	overflow: hidden;
  	position: relative;
}

.top_back_1_img{
	width:100%;
}

.slide-img:before {
  animation: img-wrap 1.8s cubic-bezier(.69,.12,0,1) forwards;
  background: #F4F5F7;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

@keyframes img-wrap {
  100% {
    transform: translateX(100%);
  }
}

/*上の三角形*/

.top_tri_01{
	position: absolute;
	top:0%;
	left: 0%;
	width:40.6%;
}

.top_tri_01_img{
	width:100%
}

.top_tri_02{
	position: absolute;
	top:6.14%;
	left: 0%;
	width:63.9%;
}


.top_tri_02_img{
	width: 100%;
}


.top_title{
	position: absolute;
	top:44.07%;
	left: 8.14%;
	width: 68.1%;
}

.top_title_img{
	width:100%;
	display: none;
}

.top_sub{
	position: absolute;
	top:67.61%;
	left: 8.14%;
	width: 20%;
}

.top_sub_img{
	width: 100%;
	display: none;
}

.twitter{
	position:absolute;
	top:80%;
	right:7%;
	color:white;
	font-size:35px;
	opacity:0.7;
	transition:0.3s;
}

.twitter:hover{
	color:#1DA1F2;
	transition:0.3s;
	opacity:1.0;
}

.youtube{
	position:absolute;
	top:80%;
	right:15%;
	color:white;
	font-size:35px;
	opacity:0.7;
	transition:0.3s;
}

.youtube:hover{
	color:#c4302b;
	transition:0.3s;
	opacity:1.0;
}

.sns{
	display: none;
}

/*position*/

.position{
	padding: 100px 0px 50px 0px;
	background-color:#F2F2F2;
}

.position-title{
	color:#34699A;
}

.title-border{
	display: flex;
	align-items: center;
}

.title-border:before,.title-border:after {
	border-top: 2px solid;
	content: "";
}
.title-border:before {
	margin-right: 11px;
	width:4.81%
}
.title-border:after {
	margin-left: 11px;
	flex-grow: 1;
}

.position h3{
	font-size:24px;
	color:#333333;
	padding-top:30px;
	font-weight:400;
}

.position p{
	font-size:16px;
	color:#333333;
	font-weight:300;
	padding-top:3px;
}

/*lighting designer*/
.content-1{
	padding:50px 0px;
	background-color:#F2F2F2;
	width:100%;
}
.content-2{
	padding:50px 0px 100px 0px;
	background-color:#F2F2F2;
	width:100%;
	
}

.title-1{
	color:#34699A;
}

.content-1 h3,.content-2 h3{
	font-weight: normal;
	padding-top: 30px;
	font-size: 22px;
	font-weight:400;
	color:#333333;
	padding-left: 4px;
}

.script-1,.script-2{
	font-size:16px;
	padding:3px;
}

.flow-chart{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	align-items: center;
	padding-top: 50px;
	width:100%;
}


.flow-1,.flow-2,.flow-3{
	width:25.2%
}

.flow-1 img,.flow-2 img,.flow-3 img{
	width:100%
}

.content-1 .bx-next{
	display:none;
}

.content-1 .bx-prev{
	display:none;
}



.arrow_11{
	display:inline-block;
	width: 30px;
	height: 30px;
	border: 5px solid;
	border-color: #34699A #34699A transparent transparent; transform: rotate(45deg);
	margin-right:6px;
	margin-left:-20px;
}

.arrow_12{
	display:inline-block;
	margin-left:-20px;
	width: 30px;
	height: 30px;
	border: 5px solid;
	border-color: #34699A #34699A transparent transparent; transform: rotate(45deg);
}

.flow-chart p{
	text-align: center;
	padding-top: 10px;
	font-size:16px;
}

.slideshow_2{
	display: none;
}

.slideshow_3{
}


/*Programmer*/
.title-2{
	color:#34699A;
}


.content-2 .bx-next{
	display: none;
}

.content-2 .bx-prev{
	display: none;
}

.movies{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.movieAll{
	width:48%;
	margin-top: 70px;
	margin-bottom: 15px;
	
}

.movie{
     position: relative;
     padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
     height: 0;
     overflow: hidden;
	 margin-bottom: 10px;
}

.movie iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.script-movie{
	float: right;
}

.script-movie p{
	font-size: 14px;
}




/*result*/
.result{
	padding:100px 0px;
	background-color:#F4F5F7;
	width:100%;
}

.result-title{
	color:#34699A;
}

.videoAll{
	margin-top: 50px;
	width:100%;
	margin-bottom: 100px;
}

.video{
     position: relative;
     padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
     height: 0;
     overflow: hidden;
     margin-bottom: 10px;
}

.video iframe{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}

.slideshow{
}

.slideshow {
	width:80%;
	margin:0 auto;
	
}

.slide{
	width:80%;
}


.arrow-prev{
	display:inline-block;
	width: 50px;
	height: 50px;
	border: 8px solid;
	border-color: #34699A #34699A transparent transparent; transform: rotate(-135deg);
	cursor: pointer;
	opacity:0.5;
	transition:0.5s;
}

.arrow-next{
	display:inline-block;
	width: 50px;
	height: 50px;
	border: 8px solid;
	border-color: #34699A #34699A transparent transparent; transform: rotate(45deg);
	cursor: pointer;
	transition:0.5s;
	opacity:0.5;
}

.circle-slide{
	text-align: center;
	padding-top: 10px;
}

 
.fa-circle{
	color:#B4B4B4;
	font-size:16px;
	padding:0px 20px;
}

.color{
	color:#34699A;
}

.bx-wrapper {
    background-color: transparent;
    margin: 0px auto;
    border: none;
    box-shadow: none;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #DBDBDB;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
    background:#34699A;
}

.bx-pager-item {
	margin:0 10px;
}

.bx-wrapper .bx-controls-direction a{
    z-index:90;
}

.caption{
	padding-top:100px;
	padding-bottom:100px;
}

.caption p{
	display: inline-block;
	margin-right: 45px;
	font-size:14px;
	font-weight: 300;
	padding-top:15px;
}

.caption_res{
	display: none;
}


/*footer*/
footer{
	background-color:#34699A;
	color:white;
	font-size:14px;
	font-weight:300;
    bottom:0;
	width:100%;
	position: absolute;
	bottom: 0;
}

.footer-wrapper{
	padding:20px 0px;
}

footer p{
	color: white;
	text-align: center
}

.fb-vertical{
	display: flex;
	justify-content: center;
}

.footer-facebook{
	padding-top: 10px;
	font-size: 30px;
	color: white;
	opacity: 1;
}


/*animate*/

.change-btn:hover{
	opacity:1.0;
	transition:0.5s;
}

