/* タブレット向けレイアウト */
@media all and (max-width: 1100px) {
	.container{
		width:100%;
		padding:0 30px;
	}

	header img{
		width:25px;
		padding-top:20px;
		margin-left: 5px;
	}
	
	.profile{
		height:auto;
		padding:100px 0px 150px 0px;
	}
	
	.profile-title h2,.works-title h2{
		font-size:35px;
	}
	
	.profile_sq,.works_sq{
		height:48px;
	}
	
	.name-top h3{
		font-size:20px;
	}
	
	.name-top p{
		font-size:13px;
	}	
	
	.name-contents p{
		font-size:14px;
	}
	
	.skill-title h3{
		font-size:20px;
	}
	
	.skill-bottom{
		margin-top:10px;
	}
	
	.skill-name{
		font-size:12px;
	}
	
	.right-name{
		font-size:30px;
		top:23%;
	}
	
	.left-name{
		font-size:30px;
		top:23%;
	}

	/*	footer*/
	footer p{
		font-size:14px;
	}
	
	.footer-facebook{
		font-size: 20px;
	}
}

@media all and (max-width: 670px) {
	/*header*/
	.container{
		width:100%;
		padding:0 15px;
	}
	header{
		font-size:12px;
		height:60px;
	}
	
	header ul{
		padding:20px 0px 20px 0px;
	}
	
	header img{
		width:7%;
		padding:12px 0px 10px 5px;
	}

	.index-head{
		display:none;
	}
	
	.hamburger{
		display: block;
	}
	
	.btn-trigger, .btn-trigger span {
		display: block;
	}
	
    /*topview	*/
	.title p{
		font-size:12px;
	}

	.title-active{
			padding:280px 0px;
	}
	/*profile	*/
	.profile{
		height:auto;
	}
	
	.left-container img{
		float:none;
		display:none;
	}
	
	.profile-responsive{
		display:block;
		width:70%;
		margin: 0 auto;
		padding-top:20px;
	}
	
	.right-message{
		float:none;
		width:100%;
	}
	
	.profile-title h2,.works-title h2{
		font-size:30px;
		font-weight: 500;
	}
	
	.profile_sq,.works_sq{
		height:40px;
	}
	
	.name-top h3{
		font-size:20px;
	}
	
	.name-top p{
		font-size:15px;
	}	
	
	.name-contents p{
		font-size:14px;
	}

	.my-facebook{
			font-size:20px;
	}
	
	.skill-title h3{
		font-size:20px;
	}
	
	.skill-bottom{
		margin-top:15px;
	}
	
	.skill-name{
		font-size:12px;
	}
	
	.skills-icon img{
	width:50%;
	}
    /*	works*/
	.works-message{
		padding:100px 0px 150px 0px;
		height:auto;
	}
	
	.right-content,.left-content{
		height:6.2%;
		padding-bottom: 200px;
	}
	
	.white-filter-r,.white-filter-l{
		width:100%;
		float:none;
		display: none;
	}
	
	.right-content img,.left-content img{
		width:100%;
		left:0;
	}
	
	.right-name,.left-name {
		display:none;
	}
	
	.content-responsive p{
		display:block;
		text-align: center;
		margin:0 auto;
		font-size:20px;
		z-index:50;
	}
	
	.content-responsive{
		z-index:50;
	}
/*footer*/
	footer p{
		font-size:12px;
	}
	
	.footer-wrapper{
		padding:10px 0px;
	}
	.footer-facebook{
		font-size: 20px;
		padding-top: 5px;
	}
	
	
}
